*{
    padding: 0;
    margin: 0;
    color: #181818;
    font-family: 'Open Sans', sans-serif;
}

.special{
    color: #0A98FD;
}
header{
    background-color: #F3FAFF;
    background-image: url("images/developer.png"),url("images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top 38px left 55px,bottom right;
    background-size: auto,700px;
    height: 837px;
    margin-bottom: 130px;
   
   

    
}
.nav-text{
    font-size: 45px;
    font-weight: 800;

}
nav{
    display: flex;
    justify-content:space-between;
    font-size: 20px;
    padding: 60px 0px 0px;
    align-items: center;
    margin: 0px 200px;
    
}
.menu>ul{
    display: flex;
    align-items: center;
}
.menu>ul>li{
    list-style: none;
    margin-left: 50px;
}
.banner{
    
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 30px 0px 0px 200px;

}
button{
    padding: 19px 36px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: white;
    border: none;
    background-color: #0A98FD;
    border-radius: 5px;
}
.fill-less{
    border: 2px solid #0A98FD;
    color: #0A98FD;
    background:none;
    margin-left: 20px;
}
.greating{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
}
.title{
    font-size: 85px;
    
}
.title-description{
    color: #474747;
    margin-bottom: 30px;

}
.profile-img{
    width: 676px;

}
.banner-content{
    width: 590px;

}
.content-button{
    margin-left: 3px;
}
main{
    /* margin: 0px 230px; */
    
    display: block;
    margin: 0px,auto;

}
.about-section{
    /* width: 1040px;
    height: 550px; */
    background-color:#F3FAFF;
    display:flexbox;
    /* align-items: center; */
    padding: 131px 157px;
    margin: 0px auto;
    border-radius: 10px;
    text-align: center;
}
.section-title{
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;
    
}
.description{
    max-width: 827px;
    margin-bottom: 30px;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}

.info-container{
    display: flex;
    justify-content: space-around;
    font-size: 15px;
}

.what-i-do-section{
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;


}

.skill{
    /* background-color: #0A98FD; */
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
}
.what-i-do-content{
    text-align: center;
}
.what-i-do-title{
    font-size: 35px;
    font-weight: 700;

}
.what-i-do-description{
    padding: 50px 150px;
    color: #474747;
}
.what-i-do-skill-container{
    display: flex;
    /* justify-content: space-around; */
    gap: 20px;
    

}
.info-title-what-i-do{
    font-weight: 700;
    padding: 20px 20px 20px 0px;

}
.info-description-what-i-do{
    color: #474747;
}


